
<div class="login">
  <form class="custom-form" method="post">
    <h1>
      Register
    </h1>
    <input type="text"   name="name" placeholder="name" required="required"/>
    <input type="text"  name="City" placeholder="City" required="required" />
    <input type="text"   name="gener" placeholder="gener" required="required"/>
    <input type="password"  name="password" placeholder="password" required="required" />
    <button type="submit" class="btn btn-registro btn-primary">
      Login
    </button>
  </form>
</div>


